body{
  font-family: Homemade Apple;
  background-color:white;
}
.back-frame{
  background-color:pink;
  width:400px;
  height:500px;
  margin-left:200px;
  margin-top:20px;
  margin-right:200px;
  display:inline-block;
  position:relative;
}
.pin{
  background-color:#CD853F;
  height:100px;
  width:50px;
  top:0px;
  left:180px;
  margin-left:auto;
  margin-right:auto;
  z-index:99;
  position:absolute;
}
.photo-frame{
  position:absolute;
  top:100px;
  display:inline-block;
  transform: rotate(5deg);
  background-color:white;
  height:379px;
  width:316px;
  top:60px;
  margin-left:50px;
  margin-right:50px;
  box-shadow: 3px 3px 3px 2px gray;
  text-align:center;
}
.description{
  transform: rotate(-3deg);
  font-size:26px;
  margin-top:10px;
}

.photo-frame:hover{
  transform: rotate(-5deg);
  cursor: pointer;

}
.photo-inner{
  height:280px;
  width:280px;
  background-image: url("https://peopledotcom.files.wordpress.com/2017/11/harry-meghan-15.jpg?crop=0px%2C0px%2C2000px%2C1050px&resize=1200%2C630");
  background-size:cover;
  position: relative;
  background-position: center center;
  margin-top:18px;
  margin-left:18px;
  margin-right:18px;
}
.layer {
    background-color: rgba(248, 247, 216, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color .8s;
  
}


.photo-frame:hover .layer{
    background-color: rgba(248, 247, 216, 0);
    transition: background-color 1.2s;
    cursor: pointer;
}
.layer:blur {
    background-color: rgba(248, 247, 216, 0.9);
    transition: background-color .8s;
    cursor: pointer;
}