/* body{
  font-family: Homemade Apple;
  background-color:white;
} */

.back-frame{
  background-color:pink;
  width:400px;
  height:500px;
  margin-left:200px;
  margin-top:20px;
  margin-right:200px;
  display:inline-block;
  position:relative;
  z-index: 3;
}
.pin{
  background-color:#CD853F;
  height:100px;
  width:50px;
  top:0px;
  left:180px;
  margin-left:auto;
  margin-right:auto;
  z-index:99;
  position:absolute;
}

.photo-frame{
  position:absolute;
  display:inline-block;
  transform: rotate(5deg);
  background-color:rgb(130, 227, 244);
  height:700px;
  width:580px;
  top:1100px;
  left: 1050px;
  margin-left:50px;
  margin-right:50px;
  box-shadow: 3px 3px 3px 2px gray;
  text-align:center;
  z-index: 3;
}
.description{
  position: relative;
  transform: rotate(-3deg);
  font-size:70px;
  margin-top:10px;
  left: 40px;
  top: -110px;
}

.photo-frame:hover{
  transform: rotate(-5deg);
  cursor: pointer;

}
.photo-inner{
  height:280px;
  width:280px;
  background-image: url("https://peopledotcom.files.wordpress.com/2017/11/harry-meghan-15.jpg?crop=0px%2C0px%2C2000px%2C1050px&resize=1200%2C630");
  background-size:cover;
  position: relative;
  background-position: center center;
  margin-top:1px;
  margin-left:1px;
  margin-right:1px;
}
.layer {
    background-color: rgba(247, 245, 191, 0.9);
    position: relative;
    top: 0;
    left: -110px;
    width: 500px;
    height: 630px;
    transition: background-color .8s;
  
}

.pic {
  position: relative;
  background-image: url('./images/20210825_223716.jpg');
  background-size: 100% 100%;
  top: 0;
  width: 450px;
  height: 600px;
}

.photo-frame:hover .layer{
    background-color: rgba(248, 247, 216, 0);
    transition: background-color 1.2s;
    cursor: pointer;
}
.layer:blur {
    background-color: rgba(248, 247, 216, 0.9);
    transition: background-color .8s;
    cursor: pointer;
}